<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.ColoredConsoleTraceListener" version="2.0.206" targetFramework="net46" />
  <package id="Essential.Diagnostics.Core" version="2.2.0" targetFramework="net46" />
  <package id="Essential.Diagnostics.Fluent" version="2.0.206" targetFramework="net46" />
  <package id="Essential.Diagnostics.RollingFileTraceListener" version="2.0.206" targetFramework="net46" />
  <package id="Essential.Diagnostics.SqlDatabaseTraceListener" version="2.0.206" targetFramework="net46" />
  <package id="System.Diagnostics.Config" version="1.2.501.0" targetFramework="net46" />
</packages>